<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>IM-WeChat即时通讯系统</title>
    <link rel="icon" href="../static/img/chat.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../static/css/chatroom.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common/layui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common/fileinput.min.css">
</head>
<body background="../static/img/bg.jpg" style="background-repeat:no-repeat;background-size:cover; ">
<div id="app">
    <!--<div role="alert" class="el-notification left" style="top: 16px; z-index: 2000;">
        <i class="el-notification__icon el-icon-success"></i>
        <div class="el-notification__group is-with-icon">
            <h2 class="el-notification__title">系统信息</h2>
            <div class="el-notification__content">
                <p>
                    在线用户： 1
                    <br>
                    开源地址：<a href="https://github.com/Left-Behind/im-wechat" target="_blank">im-wechat</a>
                    <br>
                    作者：<a href="https://www.tycoding.cn/" target="_blank">Azhu</a>
                    <br>
                    <button class="logout" onclick="logout()">注销</button>
                    <br>
                </p>
            </div>
        </div>
    </div>-->
    <div class="sidebar">
        <div class="card">
            <header>
                <img id = "avatarUrl" class="avatar" width="40" height="40" alt="" src="">
                <p id="userName" class="name" ></p>
            </header>
            <footer>
                <input class="search" type="text" placeholder="search user...">
            </footer>
        </div>
        <!--这里填充好友群组列表-->
        <div class="list" id="conLeft">
            <ul>

            </ul>
        </div>
    </div>
    <div class="conRight">
        <div class="Righthead">
            <div class="headName"></div>
        </div>
        <div class="context">
            <ul class="newsList-temp"></ul>
            <ul class="newsList">
            </ul>

        </div>

        <div class="RightFoot">
            <div class="emjon">
                <ul>
                    <li><img src="../static/img/emoji/emoji_01.png"></li>
                    <li><img src="../static/img/emoji/emoji_02.png"></li>
                    <li><img src="../static/img/emoji/emoji_03.png"></li>
                    <li><img src="../static/img/emoji/emoji_04.png"></li>
                    <li><img src="../static/img/emoji/emoji_05.png"></li>
                    <li><img src="../static/img/emoji/emoji_06.png"></li>
                    <li><img src="../static/img/emoji/emoji_07.png"></li>
                    <li><img src="../static/img/emoji/emoji_08.png"></li>
                    <li><img src="../static/img/emoji/emoji_09.png"></li>
                    <li><img src="../static/img/emoji/emoji_10.png"></li>
                    <li><img src="../static/img/emoji/emoji_11.png"></li>
                    <li><img src="../static/img/emoji/emoji_12.png"></li>
                    <li><img src="../static/img/emoji/emoji_13.png"></li>
                    <li><img src="../static/img/emoji/emoji_14.png"></li>
                    <li><img src="../static/img/emoji/emoji_15.png"></li>
                    <li><img src="../static/img/emoji/emoji_16.png"></li>
                    <li><img src="../static/img/emoji/emoji_17.png"></li>
                    <li><img src="../static/img/emoji/emoji_18.png"></li>
                    <li><img src="../static/img/emoji/emoji_19.png"></li>
                    <li><img src="../static/img/emoji/emoji_20.png"></li>
                    <li><img src="../static/img/emoji/emoji_21.png"></li>
                    <li><img src="../static/img/emoji/emoji_22.png"></li>
                    <li><img src="../static/img/emoji/emoji_23.png"></li>
                    <li><img src="../static/img/emoji/emoji_24.png"></li>
                </ul>
            </div>
            <div class="footTop">
                <ul>
                    <li class="ExP">
                        <img src="../static/img/emoji.jpg">
                    </li>
                    <li class="file-upload">
                        <a data-toggle="modal" data-target="#upload-modal" data-backdrop="static">
                            <img src="../static/img/upload.jpg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="inputBox">
                <input id="toUserId" type="hidden">
                <input id="toGroupId" type="hidden">
                <textarea id="dope" style="width: 99%;height: 100px; border: none;outline: none; background:#f0f0f0;"></textarea>
                <button title="按下回车可发送" class="sendBtn">发送</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="upload-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-primary">文件上传</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">选择文件</label>
                            <div class="col-sm-9">
                                <input type="file" name="file"
                                       class="col-sm-9 myfile"/>
                                <p class="help-block">注意：文件大小不超过30M，有效期为7天</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="upload-cancel" class="btn btn-sm btn-muted" data-dismiss="modal">
                        <i class="glyphicon glyphicon-remove"></i> 取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="../static/js/common/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../static/js/common/jquery.actual.min.js"></script>
<script type="text/javascript" src="../static/js/common/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/common/fileinput.min.js"></script>
<script type="text/javascript" src="../static/js/common/zh.js"></script>
<script type="text/javascript" src="../static/js/chatroom.js"></script>
<script type="text/javascript" src="../static/js/websocket.js"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script type="text/javascript">
    var friendMap;
    var socket;
    var userId;
    var ip = returnCitySN["cip"];
    var token = getCookie("token");
    console.log(token);
    if (!window.WebSocket) {
        window.WebSocket = window.MozWebSocket;
    }
    if (window.WebSocket) {
        socket = new WebSocket("ws://www.azhu.work:8888/ws");
        socket.onmessage = function (event) {
            var json = JSON.parse(event.data);
            console.log(json);
            if (json.status == "success") {
                switch (json.type) {
                    case "login":
                        ws.loginReceive();
                        break;
                    case "notify":
                        setFriendList();
                        console.log("收到用户上线广播");
                        break;
                    case "SINGLE_SENDING":
                        console.log("收到消息");
                        console.log(json);
                        ws.singleReceive(json);
                        break;
                    case "GROUP_SENDING":
                        ws.groupReceive(json);
                        break;
                    case "FILE_MSG_SINGLE_SENDING":
                        ws.fileMsgSingleRecieve(json);
                        break;
                    case "FILE_MSG_GROUP_SENDING":
                        ws.fileMsgGroupRecieve(json);
                        break;
                    default:
                        console.log("不正确的类型！");
                }
            } else {
                alert("WebSocket连接失败,跳到登录页");
                window.location.href = "login";
            }
        };

        // 连接成功1秒后，将用户信息注册到服务器在线用户表 这里是直接发送给WebSocketServerHandler.handlerWebSocketFrame直接处理登入
        socket.onopen = function (event) {
            setUserInfo();
            ws.login();
        };

        socket.onclose = function (event) {
            console.log("WebSocket已关闭...");
        };
    } else {
        alert("您的浏览器不支持WebSocket！");
    }

    function getCookie(cookie_name) {
        var allcookies = document.cookie;
        //索引长度，开始索引的位置
        var cookie_pos = allcookies.indexOf(cookie_name);

        // 如果找到了索引，就代表cookie存在,否则不存在
        if (cookie_pos != -1) {
            // 把cookie_pos放在值的开始，只要给值加1即可
            //计算取cookie值得开始索引，加的1为“=”
            cookie_pos = cookie_pos + cookie_name.length + 1;
            //计算取cookie值得结束索引
            var cookie_end = allcookies.indexOf(";", cookie_pos);

            if (cookie_end == -1) {
                cookie_end = allcookies.length;
            }
            //得到想要的cookie的值
            var value = unescape(allcookies.substring(cookie_pos, cookie_end));
        }
        return value;
    }

</script>

</body>
</html>
