<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QQ授权成功</title>
    <link rel="icon" href="../static/img/chat.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../static/css/chatroom.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common/layui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common/fileinput.min.css">
</head>
<body>
<div>
    openId: <span th:text="${openid}"></span>
</div>
<div>
    用户名: <span th:text="${nickname}"></span>
</div>
<div>
    头像: <img th:src="${figureurl_qq_2}" alt="">
</div>

<li>
    <div>
        <div class="answers" style="margin-right: 1px;">hello</div>
        <div class="answerHead">
            <img src="http://www.image.azhu.work/1.jpg">
        </div>
    </div>
</li>
</body>
</html>