<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="work.azhu.imdatabase.mapper.MessageMapper">


    <insert id="insertMessage" parameterType="work.azhu.imcommon.model.bean.common.Message">
        INSERT INTO
        imwechat.message
        (id, fromUserId, toUserId, toGroupId, content, type, fileUrl, originalFilename, createTime)
        VALUES
        (#{id}, #{fromUserId}, #{toUserId}, #{toGroupId}, #{content}, #{type}, #{fileUrl}, #{originalFilename}, UNIX_TIMESTAMP(NOW()));
    </insert>

    <select id="queryMessageByUserId" resultType="work.azhu.imcommon.model.bean.common.Message">
        SELECT
                m.*,
                avatarUrl AS fromAvatarUrl
        FROM imwechat.message m
        LEFT JOIN imwechat.user u ON u.id = m.fromUserId
        WHERE
        fromUserId = #{userId} OR toUserId = #{userId} OR toGroupId = 0
    </select>

    <select id="queryMessageByGroupId" resultType="work.azhu.imcommon.model.bean.common.Message">
        SELECT * FROM imwechat.message WHERE toGroupId = #{groupId}
    </select>

</mapper>